<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  加载外部 properties 文件,必须放置在 configuration 文件首位  -->
    <properties resource="jdbc.properties"></properties>

    <settings>
        <!-- 打印sql日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--  全局开启二级缓存 -->
<!--        <setting name="cacheEnabled" value="true"/>-->
    </settings>

    <typeAliases>
        <!--    给单个实体类起别名    -->
        <!--        <typeAlias type="com.mybatis.domain.User" alias="user"></typeAlias>-->
        <!--    给整个包下的实体类起别名：别名就是实体类名称，且不区分大小写    -->
        <package name="com.mybatis.domain"/>
    </typeAliases>

    <!--    environments：选择当前运行时环境    -->
    <environments default="development">
        <environment id="development">
            <!--   当前事务交由 JDBC 管理    -->
            <transactionManager type="JDBC"/>
            <!--    当前使用 mybatis 连接池    -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- <mapper resource="com/mybatis/mapper/UserMapper.xml"/>-->
        <package name="com.mybatis.mapper"/>
    </mappers>
</configuration>